
<table class='table'>
  <tr>
    <th>Goal-Name</th>
    <th>Comments </th>
    <th> </th>
  </tr>
 
  <% @comments.each do |f| %>
    <tr>

      <td><%= f.goal.name %></td>
      <td><%= f.comments_words %></td>
      <td> <%= link_to 'Delete', user_goal_comment_path(user_id: params[:user_id], goal_id: params[:goal_id], id: f), method: :delete %>
    </tr>
  <% end %>
</table>
